h1{
  color: #C03000;
}

h2{
  color:#4BB5C1;
}

ul li a{

background-image:linear-gradient(#C03000, #C03090);
border-style: solid;
   border-width: 2px;
   border-color: #660000;
   padding: 10px;
   color: white;
   text-decoration: none;
   border-radius: 5px;


}



a:focus,a:hover{
  background-image:linear-gradient(#009900, #7FFF00);
}


ul li{
  display:inline-block;
  border-radius: 5px;
  height: 50%;

}

footer p a{

  color:#0000FF;
  text-decoration: none;
  font-weight: bold;
}

body{

  font-family: Helvetica, Arial;
  background-color: #EFECCA;


}
